{% extends 'base.html.twig' %}

{% block titles %} Show Teacher {% endblock %}
{% block body %}
    <h1> Show Teacher Page </h1>
    <table>
        <tr>
            <td> Name </td>
            <td> {{ name }} </td>
        </tr>
        <tr>
            <td> Classe </td>
            <td> {{ classe }} </td>
        </tr>
        <tr>
            <td> Nombre </td>
            <td> {{ nbre }} </td>
        </tr>
        <tr>
            <td> Options </td>
            <td> {{ option }} </td>
        </tr>
    </table>
{% endblock %}
