{% extends 'base.html.twig' %}
{% block title %}Hello ClubController!{% endblock %}
{% block body %}

<div class="example-wrapper">
  <h1>Club ESPRIT</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla, placeat
    quidem. Neque maiores eum dignissimos beatae obcaecati, quia ipsum, illo,
    aut dolor accusantium similique eveniet! Minima doloribus in eius iste.
    Aliquid excepturi dolorum, harum esse accusantium debitis hic expedita iusto
    dolores inventore sint recusandae impedit consequatur distinctio rerum
    perspiciatis cupiditate dignissimos, repellendus natus quisquam suscipit
    quasi nulla odit. Voluptate, veritatis. Nihil unde neque repudiandae
    nesciunt fugiat sequi sit doloremque voluptatibus est quae laboriosam
    excepturi, cupiditate nemo, a repellendus expedita quasi qui, provident
    magnam accusantium. Natus impedit porro quos non ipsa.
  </p>

  <img src="{{ asset('assets/boost.jpg') }}" alt="">

</div>
{% endblock %}
